# Build artifacts
build/
out/
.vs/
.vscode/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Visual Studio
*.vcxproj*
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled Object files
*.obj
*.o
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Package managers
vcpkg_installed/
conan*/